<!DOCTYPE html>
<html>
    <head>
    <title>{{ title }} - FDR</title>
    </head>
    <body>
        <div style="padding: 15%">
        <div>
            <p>Flask Dice Roller</p>
            <a href="{{ url_for('index') }}">Home  </a><br>
            <a href="{{ url_for('roll') }}">Roll!  </a>
            <hr>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <h3>Flashed message(s):</h3>
        <ul>
            {% for message in messages %}
           <li>{{ message }}</li>
        {% endfor %}
        </ul>
        <hr>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        </div>
        {{ moment.include_moment() }}
    </body>
</html>